* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.flex {
    display: flex;
}

body {
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(#a2ac7d, #eceee2);
}

.page-wrapper {
    flex-direction: column;
    flex-basis: 80%;
    background-color: #ffffff;
}

header {
    flex-direction: column;
    align-items: center;
}

header .logo {
    font-size: 32px;
    font-weight: 900;
    padding: 50px;
}

header .logo>span:nth-of-type(1) {
    color: #ffffff;
}

header .logo>span:nth-of-type(2) {
    color: #3c5d18;
}

header p {
    color: #e1edf9;
    font-size: 26px;
    font-weight: 600;
}

.header-img {
    width: 100%;
    flex-basis: 394px;
    flex-grow: 1;
    background-image: url(../img/mountain-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

nav {
    width: 105%;
    background-image: linear-gradient(#222512, #717f42);
    box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.7);
    position: relative;
}

nav ul {
    justify-content: space-around;
    flex-grow: 1;
}

nav ul li {
    padding: 25px;
    font-size: 20px;
    font-weight: 900;
}

nav ul li a {
    color: #ffffff;
}

main {
    padding: 30px 20px;
    flex-grow: 1;
}

main .title {
    font-weight: bold;
    padding-top: 30px;
    font-size: 20px;
}

.border {
    width: 0px;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    position: absolute;
    bottom: -37px;
}

.border-right {
    right: 14px;
    border-right: 27px solid #a7b184;
    transform: rotate(45deg);
}

.border-left {
    left: 14px;
    border-left: 27px solid #a7b184;
    transform: rotate(-45deg);
}

footer {
    padding: 20px;
}

footer a {
    color: #7f91b5;
    font-weight: 800;
}