.red {
    color: #FF0000
}

.orange {
    color: #FF8C00
}

.yellow {
    color: #FFFF00
}

.green {
    color: #008000
}

.cyan {
    color: #00FFFF
}

.blue {
    color: #0000FF
}

.violet {
    color: #800080
}